button.button{
    border-radius: 0;
    border: 1px solid $border-color;
    color: $font-color;
    i {
        margin-right: 5px;
    }
    &.primary{
        box-shadow: none;
        box-shadow: unset;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: #fff;
        border-radius: 0;
        &:focus{
            color: #fff;
            border: 1px solid $primary-color;
        }
        &:focus{
            color: #fff;
            border: 1px solid $primary-color;
        }
        &:hover{
            color: #fff;
            border: 1px solid $primary-color;
        }
    }
    &.alert{
        background-color: $alert-color;
        background-color: $alert-color;
        border-color: $alert-color;
        color: #fff;
    }
    &.grey{
        background-color: $border-color;
        background-color: $border-color;
        border-color: $border-color;
        color: $font-color;
    }
}