// Font color
$font-color : #222;
$placeholder-color: #dcdcdc;


// Site color
$dark-primary-color: #00073c;
$light-primary-color: #e5f1ff;
$primary-color: #3663E0;
$sub-color: #43B4F2;
$warning-color: #fdc527;
$alert-color: #FF6200;
$grey-color: #C5C8D3;
$light-grey-color: #ebebeb;
$dark-grey-color: #777;
$bg-color: #f6f8f1;

$border-color: #eaeaea;
$input-color: #efefef;