// Font color
$font-color : #222;
$font-grey-color: #777;
$placeholder-color: #dcdcdc;


// Site color
$dark-primary-color: #00073c;
$light-primary-color: #e5f1ff;
$primary-color: #0253B3;
$sub-color: #18A4E0;
$warning-color: #fdc527;
$alert-color: #FF6200;
$grey-color: #adadad;
$light-grey-color: #ebebeb;


$border-color: #ebebeb;
$input-color: #efefef;