.form-header{
    margin-bottom: 30px;
    font-size: 16px;
    h3{
        font-size: 20px;
        font-weight: 700;
        margin-right: 10px;
    }
    p{
        margin-top: 10px;
        line-height: 1.5;
    }
    .has-button{
        display: flex;
        align-items: center;
    }
}

.field{
    label.label{
        color: $font-color;
        font-weight: normal;
        &:not(:last-child){
            margin-bottom: 5px;
        }
        span{
            color: $alert-color;
        }
    }
}

.select{
    width: 100%;
    &::after{
        border-color: $sub-color;
    }
    select{
        width: 100%;
        // mixin.scss
        @include select;
    }
}
input{
    //mixin.scss
    @include input;
}

.form{
    color: $font-color;
    hr{
        background-color: $border-color;
        height: 1px;
    }
    .form-title{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    label.label{
        color: $font-color;
        font-weight: normal;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
    .control{
        &.date{
            display: flex;
            input{
                &:not(:first-child){
                    margin-left: 5px;
                }
            }
        }
    }
} // form