@mixin input {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 1px solid $border-color;
    background-color: $input-color;

    &:valid {
        background-color: $light-grey-color;
        border-color: $primary-color;
    }

    &:focus {
        border-color: $sub-color;
    }

    &:disabled {
        border: 1px solid $border-color;
        background-color: $border-color;
    }
}

@mixin select {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid $border-color;
    background-color: $input-color;

    &:valid {
        background-color: $light-grey-color;
        border-color: $primary-color;
    }

    &:focus {
        border-color: $sub-color;
    }
}