.slide-right{
    animation: slide-right .3s;
}
@keyframes slide-right {
    from{
        transform: translateX(-20px);
    };
    to{
        transform: translateX(0);
    }
}

.slide-left{
    animation: slide-left .3s;
}
@keyframes slide-left {
    from{
        transform: translateX(20px);
    };
    to{
        transform: translateX(0);
    }
}


.slide-down{
    animation: slide-down .3s;
}
@keyframes slide-down {
    from{
        transform: translateY(-20px);
    };
    to{
        transform: translateY(0);
    }
}

.slide-up{
    animation: slide-up .3s;
}
@keyframes slide-up {
    from{
        transform: translateY(20px);
    };
    to{
        transform: translateY(0);
    }
}